---
import Layout from '../layouts/Layout.astro';
import ContactUs from '@/sections/ContactUs.astro';
import Footer from '@/sections/Footer.astro';
import Pricing from '@/sections/Pricing.astro';
import Testimonials from '@/sections/Testimonials.astro';
---

<Layout >

<div class="flex flex-col min-h-[100dvh]">
  
  <main class="flex-1">
    <ContactUs />
    <Testimonials />
    <Pricing />
  </main>
  <Footer />
  
</div>

</Layout>

<style>
		h1, h2, h3, h4, h5, h6 {
		 font-family: 'Inter', sans-serif;
		  --font-sans-serif: 'Inter'; }
</style>
