---
const country = Astro.request.headers.get('X-Vercel-IP-Country') ?? 'Unknown';

function countryCodeToEmoji(countryCode: string): any {
  return countryCode
    .toUpperCase()
    .split('')
    .map((char:any) => String.fromCodePoint(127397 + char.charCodeAt()))
    .join('');
};

const countryFlag = country !== 'Unknown' ? countryCodeToEmoji(country) : '🌍';
---

<h1>{countryFlag}</h1>
<p style="display: none;" id="country">{country}</p>

<script>
  if (typeof window !== 'undefined') {
    const country = document.getElementById('country')?.textContent;
    localStorage.setItem("country", country!);
  }
</script>